<form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()" method="POST">

  <div class="row justify-content-md-center">
    <div class="form-group col-6">
      <div class="alert alert-info">
        You must complete registration informations before you can rent tools.
      </div>

      <div class="form-group">
        <label for="in_firstname">First name</label>
        <input
          id="in_firstname"
          class="form-control" 
          formControlName="firstName"
          autofocus/>
        <div 
          class="alert alert-danger" 
          [hidden]="firstName.valid || firstName.pristine">
          First name is mandatory.
        </div>
      </div>

      <div class="form-group">
        <label for="in_lastname">Last name</label>
        <input
          id="in_lastname"
          class="form-control" 
          formControlName="lastName"/>
        <div 
          class="alert alert-danger" 
          [hidden]="lastName.valid || lastName.pristine">
          Last name is mandatory.
        </div>
      </div>

      <div class="form-group">
        <label for="in_phone">Phone</label>
        <input
          id="in_phone"
          class="form-control" 
          formControlName="phoneNumber"/>
        <div 
          class="alert alert-danger" 
          [hidden]="phoneNumber.valid || phoneNumber.pristine">
          <div [hidden]="!phoneNumber.errors?.required">Phone number is mandatory.</div>
          <div [hidden]="!phoneNumber.errors?.pattern">Must have 10 digits.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="in_address">Address</label>
        <input
          id="in_address"
          class="form-control" 
          formControlName="address"/>
        <div 
          class="alert alert-danger" 
          [hidden]="address.valid || address.pristine">
          Address is mandatory.
        </div>
      </div>
      
      <div class="form-group">
        <button 
          type="submit" 
          class="btn btn-primary"
          [disabled]="!formGroup.valid"
          >Submit</button>
      </div>
    </div>
  </div>

    

</form>