<div class="mt-5">
  <div class="row justify-content-center mb-3">
    <div class="col-3">
      <a class="btn btn-block btn-social btn-facebook" href="/api/oauth2/authorization/facebook">
        <span class='fa fa-facebook'></span>Sign in with Facebook
      </a>
    </div>
  </div>

  <div class="row justify-content-center mb-3">
    <div class="col-3">
      <a class="btn btn-block btn-social btn-google" href="/api/oauth2/authorization/google">
        <span class='fa fa-google'></span>Sign in with Google
      </a>
    </div>
  </div>

  <div class="row justify-content-center mb-3">
    <div class="col-3">
      <a class="btn btn-block btn-social btn-github" href="/api/oauth2/authorization/github">
        <span class='fa fa-github'></span>Sign in with Github
      </a>
    </div>
  </div>
</div>
