<div class="container mb-3">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" id="menuHomeLink" routerLinkActive="active"><a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a></li>
      </ul>
    </div>
    <div class="ml-auto">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" id="menuLoginLink" *ngIf="!loggedIn" routerLinkActive="active"><a class="nav-link"  routerLinkActive="active" routerLink="/login">Login</a></li>
        <li class="nav-item" id="menuUsername" *ngIf="loggedIn"><span class="navbar-text">{{ currentUser.firstName }} {{ currentUser.lastName }}</span></li>
        <li class="nav-item" id="menuLogoutLink" *ngIf="loggedIn" routerLinkActive="active"><a href="#" id="logoutLink" class="nav-link" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="container mb-2">
  <router-outlet></router-outlet>
</div>
